.form {
    background: #4F4FD9;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
    margin-top: 50%;
    text-align: center;
}

.field:not(:last-child) {
    margin-bottom: 14px;
}

.formTitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

input:valid {
    border-radius: 12px;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

label {
    color: #eee !important;
}

.error {
    color: red;
    font-size: 18px;
}

.success {
    color: green;
    font-size: 18px;
}

.btn {
    margin-top: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #eeeeee;
    -webkit-box-shadow: 0 0 0px 1000px #4F4FD9 inset;
    transition: background-color 5000s ease-in-out 0s;
}