/*.formTitle {*/
/*    color: #eeeeee;*/
/*    font-size: 34px;*/
/*}*/

/*.formRemember {*/
/*    color: #eeeeee;*/
/*    font-size: 14px;*/
/*}*/

/*.formLink {*/
/*    color: #eeeeee !important;*/
/*    text-decoration: underline;*/
/*    text-decoration-color: #eeeeee !important;*/
/*}*/

/*.formLink:hover {*/
/*    color: #1976d2 !important;*/
/*    text-decoration-color: #1976d2 !important;*/
/*}*/

.formTitle {
    color: #170909;
    font-size: 34px;
}

.formRemember {
    color: #170909;
    font-size: 14px;
}

.formLink {
    color: #170909 !important;
    text-decoration: underline;
    text-decoration-color: #170909 !important;
}

.formLink:hover {
    color: #1976d2 !important;
    text-decoration-color: #1976d2 !important;
}

.showAlert {
    visibility: visible
}
.hiddenAlert {
    visibility: hidden
}